<h1>Data Science Tools and Ecosystem</h1>

<h1>In this notebook, Data Science Tools and Ecosystem are summarized.</h1>

<h1>Some of the popular languages that Data Scientists use are:</h1>

1. Python
2. R
3. Java
4. Julia

<h1>Some of the commonly used libraries used by Data Scientists include:</h1>

1. NumPy
2. Keras
3. Panadas
4. PyTorch

<h1>Data Science Tools</h1>

1. Apache Spark
2. Excel
3. TensorFlow

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
#This will convert 200 minutes to hours by diving by 60
min=200
h=min//60
print("Hours=",h)

Hours= 3

**Objectives:**
- Python
- R
- Julia
- Java

<h2>Author</h2>
Fatimah Asiri